<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
      
<head>
   <title>CookieMonster</title>
</head>
<body>
   <h1>Welcome to...</h1>
   <div style="height: 650px; width: auto; position: absolute; top: 30%">
      <img style="overflow: hidden; position: relative; left: 5%; bottom: 30%; max-height: 550px; width: auto;" th:src="@{/images/hope.png}" />
      <form method="POST" >
      <button style="width: 10em; height:3em; background:#6a85b0; font-weight: bold; color: white;position:absolute; left: 47%; bottom: 25%; font-size: 20px; border: 3px solid #1a2840;"
          >Let's Build A Taco</button>
      </form>
   </div>
</body>
</html>